.uploadimg{
    height: 200px;
    width: 200px;
    box-shadow: 4px 2px 2px rgba(0, 0, 0, 0.5)
}
.imgbaner{
    width: 100%;
    
}
.imgsale{
    width: 200px;
    height: 200px;
    display: inline-block;;
    
}
.tagsale {
    
    display: flex; /* Use flexbox to align items in a row */
    justify-content: space-between;
    height:250px ;
    margin-right: 10%;
    margin-left: 10%;
    box-shadow: 1px 2px 6px 6px rgb(222, 117, 117);
    text-align: center;
  }
  
  .tagimg h3{
    color: rgb(225, 50, 138)
    
  }
  .imgsale {
    width: 80%; 
    height: 80%; 
    
  }
  .listproduct{
    width: 100%;
    height: auto;
    margin-top: 20px;
    text-align: center;
  }
 .pages{
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: black;
  text-shadow: 1px 1px 1px;
  font-weight: 1000;
 }
 .boxproduct{
   width: 100%;
   height: auto;
   margin-top: 20px;
 }
.card{
 height: 320px;
}
.grbtn {
  height: 20%;
  

 
}
.grcontent{
  height: 45%;
}

.footer {
  background-color:wheat;
  padding: 4rem 0;
  color: #fff;
}

.footerSection {
  margin-bottom: 2rem;
}

.footerHeading {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.footerList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footerLink {
  color: '#ffffff';
  text-decoration: none;
  transition: color 0.3s;
  position: relative;
  padding-bottom: 0.2rem;
  opacity: 1;
}

.footerLink::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.3s;
}

.footerLink:hover {
  color: #e0e0e0;
}

.footerLink:hover::before {
  width: 100%;
}

.footerSocial {
  display: flex;
}

.footerSocialLink {
  color: #fff;
  font-size: 1.5rem;
  margin-right: 1rem;
  transition: color 0.3s;
}

.footerSocialLink:hover {
  color: #e0e0e0;
}

.footerCopyright {
  margin-top: 2rem;
  text-align: center;
  font-size: 0.9rem;
  color: #e0e0e0;
}
// .footerWrapper {
//   background-color: blue;
//   background-size: cover;
//   padding: 2rem 0; /* Thêm một khoảng đệm nếu cần */
// }



/* Các styles khác */